<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Rétrocessions Sage-Femme</title>
<link rel="icon" type="imge/x-icon" href="/static/favicon.ico">
<link rel="stylesheet" href="/static/style.css">
</head>

<body>
<div class="container">

    <h2>Calcul des rétrocessions MaïeuticApp</h2>

    <div class="card">
        <div>
            IK
            <span class="tooltip" data-tooltip="Indemnité kilométrique (au 22/02/2024)"><sup>?</sup></span>
            <input id="ik">

            IF
            <span class="tooltip" data-tooltip="Indemnité forfaitaire de déplacement"><sup>?</sup></span>
            <input id="if_val">

            MD
            <span class="tooltip" data-tooltip="Majorations de déplacement :
  · Visites et actes à domicile jusque 14 semaines après accouchement.
  · Observation et traitement d'une grossesse pathologique dès 24 SA.
  · Observation et traitement d'une grossesse nécessitant une surveillance intensive sur prescription.
Cf. Article 14.2 de la NGAP."><sup>?</sup></span>
            <input id="md">
            <button onclick="resetValues()" style="margin-left:10px; background:#e5e7eb; color:#111;">
                    Réinitialiser
            </button>
        </div>
    </div>

    <div class="card">
        <div class="drop-zone" id="dropZone">
            <div id="dropText">📂 Glissez votre fichier Excel d'export MaïeuticApp ici<br/>ou cliquez dans la zone pour charger votre fichier.</div>
            <div id="fileName" class="file-name"></div>
            <input type="file" id="fileInput" hidden>
        </div>

        <button onclick="upload()" class="calculate">Calculer les rétrocessions</button>
    </div>

    <div id="errorBox" class="error"></div>

    <div class="card">
        <table id="resultTable">
            <thead>
                <tr>
                    <th>ADELI</th>
                    <th>Remplaçant·e</th>
                    <th>Total</th>
                    <th>Indemnités<br/>(IF+IK+MD)</th>
                    <th>30% hors<br/>indemnités</th>
                    <th>Total moins 30%<br/>(hors indemnités)</th>
                    <th>40% avec<br/>indemnités</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

</div>

<script src="/static/app.js"></script>
</body>
</html>