<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Rétrocessions Sage-Femme</title>

<link rel="stylesheet" href="/static/style.css">
</head>

<body>
<div class="container">

    <h2>Calcul des rétrocessions MaïeuticApp</h2>

    <div class="card">
        <div>
            IK
            <input id="ik">
            <span class="tooltip" data-tooltip="Indemnité kilométrique"><sup>?</sup></span>

            IF
            <input id="if_val">
            <span class="tooltip" data-tooltip="Indemnité forfaitaire de déplacement"><sup>?</sup></span>

            MD
            <input id="md">
            <span class="tooltip" data-tooltip="Majoration de déplacement"><sup>?</sup></span>
            <button onclick="resetValues()" style="margin-left:10px; background:#e5e7eb; color:#111;">
                    Réinitialiser
            </button>
        </div>
    </div>

    <div class="card">
        <div class="drop-zone" id="dropZone">
            <div id="dropText">📂 Glissez votre fichier Excel d'export MaïeuticApp ici<br/>ou cliquez dans la zone pour charger votre fichier.</div>
            <div id="fileName" class="file-name"></div>
            <input type="file" id="fileInput" hidden>
        </div>

        <button onclick="upload()" class="calculate">Calculer les rétrocessions</button>
    </div>

    <div id="errorBox" class="error"></div>

    <div class="card">
        <table id="resultTable">
            <thead>
                <tr>
                    <th>ADELI</th>
                    <th>Remplaçant·e</th>
                    <th>Total</th>
                    <th>Indemnités</th>
                    <th>30%</th>
                    <th>40%</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

</div>

<script src="/static/app.js"></script>
</body>
</html>